[submodule "c00"]
	path = c00
	url = git@github.com:mafrrkel/c00-pool-1337.git
[submodule "c01"]
	path = c01
	url = git@github.com:mafrrkel/c01-pool-1337-.git
[submodule "c02"]
	path = c02
	url = git@github.com:mafrrkel/c02-pool-1337.git
[submodule "c03"]
	path = c03
	url = git@github.com:mafrrkel/c03-pool-1337.git
[submodule "c04"]
	path = c04
	url = git@github.com:mafrrkel/c04-pool-1337-.git
[submodule "c05"]
	path = c05
	url = git@github.com:mafrrkel/c05-pool-1337.git
[submodule "c06"]
	path = c06
	url = git@github.com:mafrrkel/c06-pool-1337-.git
[submodule "c07"]
	path = c07
	url = git@github.com:mafrrkel/c07-pool-1337.git
[submodule "shell00"]
	path = shell00
	url = git@github.com:mafrrkel/shell00-pool-1337.git
